.Content {
  margin-top: 72px;
  background-color: gold;
}

@media (max-width: 499px) {
  .MobileOnly {
    display: none;
  }
}

@media (min-width: 500px) {
  .DesktopOnly {
    display: none;
  }
}

.Logo {
  display: flex;

  flex: auto;
  height: 100vh;
  width: 1;
  padding-top: 250px;
  align-items: center;
  justify-content: center;
}

.site-layout .site-layout-background {
  background: #fff;
}
