.Content {
  margin-top: 72px;
  background-color: gold;
}

@media (max-width: 499px) {
  .MobileOnly {
    display: none;
  }
}

@media (min-width: 500px) {
  .DesktopOnly {
    display: none;
  }
}

.Logo {
  background-color: none;
  flex: 1;
  padding-top: 10%;
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}
